<html>
    {{ >head }}
    <body>
        {{ >nav }}
        <main class="container my-5">
            <h4 class="display-4">403 - Forbidden</h4>
            <p>Não tem permissão para aceder a esta página</p>
        </main>
    </body>
</html>