<html>
{{ >head }}

<body>
    {{ >nav }}
    <main class="container my-5">
        <h4 class="display-4">Os meus anúncios</h4>
        <table id="usersTable" class="table table-striped table-bordered rounded">
            <tr>
                <td><b>Descrição</b></td>
                <td><b>Preço</b></td>
                <td><b>Visualizações</b></td>
                <td></td>
            </tr>
            {{ #anuncios }}
            <tr>
                <td>{{ descricao }}</td>
                <td>{{ preco }}€</td>
                <td>{{ views }}</td>
                <td><button class="btn btn-primary">Detalhes</button></td>
            </tr>
            {{ /anuncios }}
        </table>
    </main>
</body>
</html>