<html>
    {{ >head }}
    <body>
        {{ >nav }}
        <main class="container my-5">
            <h4 class="display-4">Carros</h4>
            <hr>
            <div class="form-inline">
                <label class="mr-2">Marcas:</label>
                <select class="form-control mr-2">
                    <option value="-1">Todos</option>
                </select>
                <label class="mr-2">Modelos:</label>
                    <select class="form-control">
                <option value="-1">Todos</option>
                </select>
            </div>
            <hr>
            {{ #carros }}
            <div class="card m-2 car-list-item">
                <p>{{ id }}</p>
                <p>{{ descricao }}</p>
            </div>
            {{ /carros }}
            <div class="alert alert-danger">Ainda não foram publicados anúncios de carros.</div>
        </main>
    </body>
</html>