<html>
    {{ >head }}
    <body>
        {{ >nav }}
        <div class="container">
            <div id="home" class="view my-3">
                <h1 class="display-1">Stand Automóvel</h1>
                <img src="/img/slide.jpg" id="img-slide">
                <h5 class="my-2">
                    Oferecemos a melhor oferta para o seu futuro carro.
                    Veja anúncios de vários vendedores ou crie uma conta de Vendedor para criar um anúncio.
                </h5>
            </div>
        </div>
    </body>
</html>