<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav" id="mainNav">
        <a class="navbar-brand" href="/">Stand Automóvel</a>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/carros">
                <i class="fas fa-car-side"></i> Carros
            </a>
        </li>
        {{ #isAdmin }}
        <li class="nav-item">
            <a class="nav-link" href="/utilizadores" id="nav-marcas">
                <i class='fas fa-users'></i> Utilizadores
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/marcas" id="nav-marcas">
                <i class='fas fa-users'></i> Marcas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/modelos" id="nav-modelos">
                <i class='fas fa-users'></i> Modelos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/estatisticas" id="nav-estatisticas">
                <i class='fas fa-users'></i> Estatisticas
            </a>
        </li>
        {{ /isAdmin }}
        {{ #isSeller }}
            <li class="nav-item">
                <a class="nav-link" href="/utilizadores" id="nav-marcas">
                    <i class='fas fa-users'></i> Criar anúncio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/anuncios" id="nav-anuncios">
                    <i class='fas fa-users'></i> Meus anúncios
                </a>
            </li>
        {{ /isSeller }}
        {{ ^token }}
            <li class="nav-item">
                <a class="nav-link" href="/login" id="nav-login">
                    <i class="fas fa-user"></i> Login / Registo
                </a>
            </li>
        {{ /token }}
        {{ #token }}
            <li class="nav-item">
                <a class="nav-link" href="/logout" id="nav-login">
                    <i class="fas fa-user"></i> Logout
                </a>
            </li>
        {{ /token }}
    </ul>
</nav>